.list-itemone {
  list-style-type: none;
  padding-top: 15px;
}
.butttoncategory {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}

.filters-group-container {
  margin-top: 16px;
}
.clearfilterbutton {
  margin-top: 15px;
  margin-left: 20px;
}
.starimageone {
  height: 30px;
  width: 150px;
}
.categoryaparagraph {
  font-weight: bold;
  font-family: 'Roboto';
  padding-left: 40px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
